{
  "includeVBTextures" : false,

  "frameBuffer" : "main",

  "effectParameters" : {
    "screenSize" : {
      "type" : "vec2",
      "default" : [1, 1],
      "uniform" : "screenSize"
    },
    "applyCap" : { "type" : "bool", "default" : false, "uniform" : "applyCap" },
    "brightnessLimit" : { "type" : "float", "default" : 1.4, "uniform" : "brightnessLimit" },
    "brightnessScale" : { "type" : "float", "default" : 1.0, "uniform" : "brightnessScale" },
    "tonemap" : { "type" : "bool", "default" : false, "uniform" : "tonemap" }
  },

  "effectTextures" : {
    "inputTexture" : {
      "textureUniform" : "inputTexture",
      "textureSizeUniform" : "inputTextureSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "nearest"
    }
  },

  "effectShaders" : {
    "vertex" : "lightingPassthrough.vert",
    "fragment" : "lightingPassthrough.frag"
  }
}
