{
  "effectParameters" : {
    "lightPosition" : { "type" : "vec2", "default" : [0, 0], "uniform" : "lightPosition" },
    "lightValue" : { "type" : "vec3", "default" : [1, 1, 1], "uniform" : "lightValue" },
    "lightBeam" : { "type" : "float", "default" : 0.0, "uniform" : "lightBeam" },
    "lightBeamAngle" : { "type" : "float", "default" : 0.0, "uniform" : "lightBeamAngle" },
    "lightBeamAmbience" : { "type" : "float", "default" : 0.0, "uniform" : "lightBeamAmbience" },
    "lightAsSpread" : { "type" : "bool", "default" : false, "uniform" : "lightAsSpread" },
    "pointMaxAir" : { "type" : "float", "default" : 12.0, "uniform" : "pointMaxAir" },
    "pointMaxObstacle" : { "type" : "float", "default" : 4.0, "uniform" : "pointMaxObstacle" },
    "spreadMaxAir" : { "type" : "float", "default" : 8.0, "uniform" : "spreadMaxAir" },
    "spreadMaxObstacle" : { "type" : "float", "default" : 2.0, "uniform" : "spreadMaxObstacle" },
    "pointObstacleBoost" : { "type" : "float", "default" : 1.0, "uniform" : "pointObstacleBoost" }
  },

  "effectTextures" : {
    "obstacle" : {
      "textureUniform" : "obstacle",
      "textureSizeUniform" : "lightStateSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "nearest"
    }
  },

  "effectShaders" : {
    "vertex" : "lightingPoint.vert",
    "fragment" : "lightingPoint.frag"
  }
}
