{
  "frameBuffer" : "lightingGpu",

  "effectParameters" : {
    "screenSize" : {
      "type" : "vec2",
      "default" : [1, 1],
      "uniform" : "screenSize"
    }
  },

  "effectTextures" : {
    "inputTexture" : {
      "textureUniform" : "inputTexture",
      "textureSizeUniform" : "inputTextureSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "nearest"
    }
  },

  "effectShaders" : {
    "vertex" : "lightingPassthrough.vert",
    "fragment" : "lightingPassthrough.frag"
  }
}
