{
  "effectParameters" : {
    "lightPosition" : { "type" : "vec2", "default" : [0, 0], "uniform" : "lightPosition" },
    "lightValue" : { "type" : "vec3", "default" : [1, 1, 1], "uniform" : "lightValue" },
    "lightBeam" : { "type" : "float", "default" : 0.0, "uniform" : "lightBeam" },
    "lightAsSpread" : { "type" : "bool", "default" : false, "uniform" : "lightAsSpread" },
    "pointObstacleBoost" : { "type" : "float", "default" : 1.0, "uniform" : "pointObstacleBoost" },
    "lightMaxIntensity" : { "type" : "float", "default" : 1.0, "uniform" : "lightMaxIntensity" },
    "beamDirection" : { "type" : "vec2", "default" : [1, 0], "uniform" : "beamDirection" },
    "oneMinusBeamAmbience" : { "type" : "float", "default" : 1.0, "uniform" : "oneMinusBeamAmbience" },
    "perBlockObstacleAtten" : { "type" : "float", "default" : 0.25, "uniform" : "perBlockObstacleAtten" },
    "perBlockAirAtten" : { "type" : "float", "default" : 0.0833333, "uniform" : "perBlockAirAtten" }
  },

  "effectTextures" : {
    "obstacle" : {
      "textureUniform" : "obstacle",
      "textureSizeUniform" : "lightStateSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "nearest"
    }
  },

  "effectShaders" : {
    "vertex" : "lightingPoint.vert",
    "fragment" : "lightingPoint.frag"
  }
}
