{
  "includeVBTextures" : false,

  "frameBuffer" : "lightingGpuUpscaled",

  "effectParameters" : {
    "screenSize" : { "type" : "vec2", "default" : [1, 1], "uniform" : "screenSize" }
  },

  "effectTextures" : {
    "inputTexture" : {
      "textureUniform" : "inputTexture",
      "textureSizeUniform" : "inputTextureSize",
      "textureAddressing" : "clamp",
      "textureFiltering" : "linear"
    }
  },

  "effectShaders" : {
    "vertex" : "lightingPassthrough.vert",
    "fragment" : "lightingUpscale.frag"
  }
}
