{
  "frameBuffers" : {
    "main" : {
      "hdr":"FromSetting",
      "multisampled":true
    },
    "envCache" : {
      "hdr":"FromSetting",
      "clear":false
    },
    "envRef" : {
      "hdr":"FromSetting",
      "clear":true,
      "clearGated":true,
      "devOnly":true
    },
    "parallaxCache" : {
      "hdr":"FromSetting",
      "alpha":true,
      "clear":false
    },
    "parallaxRef" : {
      "hdr":"FromSetting",
      "clear":false,
      "devOnly":true
    },
    "lightingGpu" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[512, 512]
    },
    "lightingGpuB" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[512, 512]
    },
    "lightingGpuUpscaled" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[2048, 2048]
    }
  }
}
