{
  "frameBuffers" : {
    "main" : {
      "hdr":"FromSetting"
    },
    "lightingGpu" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[512, 512]
    },
    "lightingGpuB" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[512, 512]
    },
    "lightingMapPersist" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[512, 512]
    },
    "lightingSpreadPersist" : {
      "hdr":"Enabled",
      "alpha":true,
      "clear":false,
      "textureFiltering":"linear",
      "size":[512, 512]
    }
  }
}
